{% load static %}

<link rel="stylesheet" href="{% static 'Home/style.css' %}">

<div calss="card-container">
    <!-- {% for book in books%} -->
    <div class="card">
        <img src="https://via.placeholder.com/300x200" alt="Card image">
        <h1>Card Title 4</h1>
        <p>This is a simple card description. It can contain text, images, buttons, and more.</p>
        <button>Click Me</button>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/300x200" alt="Card image">
        <h1>Card Title 4</h1>
        <p>This is a simple card description. It can contain text, images, buttons, and more.</p>
        <button>Click Me</button>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/300x200" alt="Card image">
        <h1>Card Title 4</h1>
        <p>This is a simple card description. It can contain text, images, buttons, and more.</p>
        <button>Click Me</button>
    </div>
    <!-- {% endfor %} -->
</div> 